<%layout('layouts/boilerplate') %>

    <div class="row">
        <% if(profile.username==currentUser.username){%>
            <h2>Your Profile</h2>
            <% }else {%>
                <h2>
                    <%=profile.username %> Profile
                </h2>
                <% } %>

                    <div class="col-md-6 offset-md-3">

                        <div class="card m-2 d-inline-block bg-earth bg-purple">
                            
                                            <img src="<%= profile.image.url %> " alt="" class="card-img-top">

                                            <div class="card-body">
                                                <h4 class="card-title">
                                                    <%= profile.username %>
                                                </h4>
                                                <p class="card-text" style="font-size: large;"><b>Description : </b>
                                                    <%= profile.description %>
                                                </p>

                                                <p class="card-text" style="font-size: large;"><b>Gender : </b>
                                                    <%= profile.Gender %>
                                                </p>
                                                <p class="card-text" style="font-size: large;"><b>Friends : </b>
                                                    <%= profile.friends.length %>
                                                </p>
                                                <p class="card-text" style="font-size: large;"><b>Posts : </b>
                                                    <%= profile.posts.length %>
                                                </p>
                                                <p class="card-text" style="font-size: large;"><b>Date Of Birth : </b>
                                                    <%= profile.dateOfBirth %>
                                                </p>
                                                <% if(profile.username==currentUser.username) { %>
                                                    <form action="/friends/<%= profile._id %>/edit">
                                                        <button class="btn btn-warning btn-sm"
                                                            style="color: rgb(255, 255, 255); border-radius: 20%;font-weight: bold;"><span
                                                                class="material-symbols-outlined">
                                                                edit
                                                            </span>Edit</button>
                                                    </form>


                                                    <% } %>
                                            </div>
                        </div>
                    </div>

                    <h2>Posts
                        <% if(profile.username==currentUser.username){%>
                            <a href="/friends/<%= profile._id %>/post" class="btn-primary btn m-2"><span
                                    style=" position: relative; top: 3px;" class="material-symbols-outlined">
                                    post_add
                                </span>New Post</a>
                            <% } %>
                    </h2>

                    <%for (let post of profile.posts) {%>
                        <div class="card m-2 d-inline-block bg-earth" id="postwidth">

                            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">

                                <% if(post.image.length>1){ %>
                                    <div class="carousel-indicators">
                                        <% post.image.forEach((img,i)=> { %>
                                            <button type="button" data-bs-target="#carouselExampleIndicators"
                                                data-bs-slide-to="<%= i %>" class="<%= i===0 ? 'active' : '' %>"
                                                aria-current="<%= i===0 ? 'true' : '' %>"></button>
                                            <% }) %>
                                    </div>
                                    <% } %>

                                        <div class="carousel-inner">
                                            <% post.image.forEach((img,i)=> { %>
                                                <div class="carousel-item <%= i===0 ? 'active' : '' %> ">
                                                    <% let text=img.url %>
                                                        <% let array=text.split("upload") %>
                                                            <% let image=array[0]+"upload/q_50"+array[1] %>
                                                                <% console.log(image) %>
                                                                    <img src="<%= image %>" class="d-block w-100"
                                                                        alt="...">
                                                </div>
                                                <% }) %>

                                        </div>

                            </div>

                            <% if(profile.username !=currentUser.username){%>
                                <span class="card-action" id="like" data-profile="<%=profile.id%>"
                                    data-post="<%= post.id %>" style="text-decoration : none"><i
                                        class="fa fa-heart"></i>
                                    <span>
                                        <%= post.likes.length %>
                                    </span>
                                </span>
                                <% } %>
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <%= post.title %>
                                        </h5>
                                        <p class="card-text">
                                            <%= post.description %>
                                        </p>
                                    </div>
                                    <div style="padding: 10px;">
                                        <% if(profile.username==currentUser.username){%>
                                            <li style='font-size:1.2rem; list-style-type: none;'><b>&#9829 </b>
                                                <%= post.likes.length %>
                                                    <% }else {%>

                                                        <div>

                                                            <form id="addComment"
                                                                action="/friends/<%=profile.id %>/post/<%= post.id %>/addComment"
                                                                data-profile="<%=profile.id %>"
                                                                data-post="<%= post.id %>" method="post">
                                                                <label class="form-label" for="review">Add
                                                                    Review:</label>
                                                                <textarea class="form-control mb-1" name="body"
                                                                    id="review" cols="3" rows="2" required></textarea>
                                                                <button class="btn-sm btn-secondary"
                                                                    data-profile="<%=profile.id %>"
                                                                    data-post="<%= post.id %>"><span
                                                                        style="font-size:medium ; position: relative; top: 3px;"
                                                                        class="material-symbols-outlined">
                                                                        comment
                                                                    </span>
                                                                    Comment</button>
                                                            </form>

                                                        </div>
                                                        <% } %>


                                                            <% if(profile.username==currentUser.username){%>
                                                                <form
                                                                    action="/friends/<%= profile.id %>/post/<%= post.id %>?_method=DELETE"
                                                                    method="post">
                                                                    <button class="btn btn-danger btn-sm"><span
                                                                            class="material-symbols-outlined"
                                                                            style="font-size:medium ; position: relative; top: 2px;">
                                                                            delete_forever
                                                                        </span>Delete post</button>
                                                                </form>

                                                                <% } %>
                                            </li>
                                            <div class="overflow-auto mt-4" id="commentList">
                                                <div class="mb-2" style="height: 180px">
                                                    <% if(post.reviews.length>0){ %>
                                                        <%for(let review of post.reviews){ %>

                                                            <p class="card-text"><b>
                                                                    <%= review.author %>
                                                                </b> : <%= review.body %>
                                                                    <% if(review.author==currentUser.username) {%>
                                                                        <a class="material-symbols-outlined"
                                                                            style="text-decoration: none;"
                                                                            id='deleteComment'
                                                                            data-profile="<%= profile.id %>"
                                                                            data-post="<%= post.id %>"
                                                                            data-review="<%=review.id%>">delete_forever</a>
                                                            </p>

                                                            <% } }} else{ %>

                                                                <p class="card-text" id="no-comments"> no comments yet </p>
                                                                <% } %>

                                                </div>
                                            </div>
                                    </div>

                        </div>
                        <% } %>




    </div>

    <script>
        let likes = document.querySelectorAll("#like")
        let comments = document.querySelectorAll("#addComment")
        let commentItems = document.querySelectorAll("#deleteComment")
        deleteItems()
        for (let like of likes) {

            like.addEventListener('click', event => {
                console.log(event.target)
                fetch(`/friends/${like.dataset.profile}/post/${like.dataset.post}/like`)

                    .then((respose) => {
                        return respose.json()
                    }).then((data) => {
                        post = data
                        like.querySelector('span').textContent = post.likes.length
                    })

            })
        }

        for (let comment of comments) {
            comment.addEventListener('submit', event => {

                event.preventDefault()
                let data = { body: `${comment.querySelector('textarea').value}` }
                comment.querySelector('span').classList.add('addCommentNow');

                // console.log(`/friends/${comment.dataset.profile}/post/${comment.dataset.post}/addComment`)
                fetch(`/friends/${comment.dataset.profile}/post/${comment.dataset.post}/addComment`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(data)
                }).then((res) => {
                    return res.json()
                }).then((post) => {

                    justComment = post.reviews[post.reviews.length - 1]
                    let lists = comment.parentElement.parentElement.querySelector("#commentList").querySelector('div')
                    console.log(lists)
                    console.log(post)
                    const para = document.createElement('p');
                    para.innerHTML = `<b>
                                                            ${justComment.author}
                                                        </b> : ${justComment.body}
                                                            
                                                                <a class="material-symbols-outlined" style="text-decoration: none;" id="deleteComment" data-profile="${comment.dataset.profile}" data-post="${comment.dataset.post}" data-review="${justComment._id}">delete_forever</a>
                                                    `
                    comment.querySelector('span').classList.remove('addCommentNow');
                    lists.append(para)
                    commentItems = document.querySelectorAll("#deleteComment")
                    console.log(commentItems)
                    comment.querySelector('textarea').value = ""
                try{
                    if(post.reviews.length ==0){
                        comment.parentElement.parentElement.querySelector("#commentList").querySelector('#no-comments').textContent = "no comments yet"
                    }
                    else{
                        comment.parentElement.parentElement.querySelector("#commentList").querySelector('#no-comments').textContent = ""
                    }
                }
                catch(e){
                    console.log(e);
                }
                    deleteItems()
                })
                    .catch((error) => {
                        console.log(error)
                    })






            })
        }

        function deleteItems() {
            for (let commentItem of commentItems) {
                console.log(commentItem)
                commentItem.addEventListener('click', (event) => {
                    commentItem.classList.add('deleteCommentNow')
                    fetch(`/friends/${commentItem.dataset.profile}/post/${commentItem.dataset.post}/deletecomment/${commentItem.dataset.review}`)

                        .then((respose) => {
                            return respose.json()
                        }).then((data) => {
                            console.log(data)
                            commentItem.parentNode.remove()
                        })
                })
            }
        }


            // "/friends/profile.id/post/post.id/like"

    </script>

    <style>
        @media (min-width:200px) {

            #postwidth {
                width: 20rem;
                position: relative;
                left: 11px;
            }

        }

        @media (min-width:1000px) {

            #postwidth {
                width: 22rem;
            }

        }


        .btn-pink {
            color: antiquewhite;
            background-color: rgba(255, 0, 106, 0.747);
        }

        .btn-pink:hover {
            color: maroon;
            background-color: rgb(255, 0, 106);
        }

        #deleteComment {
            position: relative;
            top: 5px;
            font-size: 25px;
            font-weight: bold;
            color: red;
            
        }

        #deleteComment:hover{
            
             cursor: pointer;
        }

        .deleteCommentNow{
            -webkit-animation: spin 1.3s linear infinite;
        }

        .addCommentNow{
            -webkit-animation: spin 1.3s linear infinite;
        }

        @-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

        /*  Helper Styles */


        /* Card Styles */


        .card-action {
            position: relative;
            float: right;
            margin-top: -25px;
            margin-right: 20px;
            z-index: 2;
            color: #E26D5C;
            background: #fff;
            border-radius: 100%;
            padding: 15px;
            font-size: 15px;
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
            border-color: white;
        }

        .card-action:hover {
            color: #fff;
            background: #E26D5C;
            -webkit-animation: pulse 1.5s infinite;
        }

        @-webkit-keyframes pulse {
            0% {
                -moz-transform: scale(0.9);
                -ms-transform: scale(0.9);
                -webkit-transform: scale(0.9);
                transform: scale(0.9);
            }

            70% {
                -moz-transform: scale(1);
                -ms-transform: scale(1);
                -webkit-transform: scale(1);
                transform: scale(1);
                box-shadow: 0 0 0 50px rgba(90, 153, 212, 0);
            }

            100% {
                -moz-transform: scale(0.9);
                -ms-transform: scale(0.9);
                -webkit-transform: scale(0.9);
                transform: scale(0.9);
                box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
            }
        }
    </style>