<%layout('layouts/boilerplate') %>

    <div class="row">
        <% if(profile.username==currentUser.username){%>
            <h2>Your Profile</h2>
            <% }else {%>
                <h2>
                    <%=profile.username %> Profile
                </h2>
                <% } %>

                    <div class="col-md-6 offset-md-3">

                        <div class="card m-2 d-inline-block">
                            <% let text = profile.image.url %>
                                                    <% let array = text.split("upload") %>
                                                    <% let image = array[0]+"upload/q_50"+array[1] %>  
                                                    <% console.log(image) %> 
                            <img src="<%= image %> " alt="" class="card-img-top">

                            <div class="card-body">
                                <h4 class="card-title">
                                    <%= profile.username %>
                                </h4>
                                <p class="card-text" style="font-size: large;"><b>Description : </b>
                                    <%= profile.description %>
                                </p>

                                <p class="card-text" style="font-size: large;"><b>Gender : </b>
                                    <%= profile.Gender %>
                                </p>
                                <p class="card-text" style="font-size: large;"><b>Friends : </b>
                                    <%= profile.friends.length %>
                                </p>
                                <p class="card-text" style="font-size: large;"><b>Posts : </b>
                                    <%= profile.posts.length %>
                                </p>
                                <p class="card-text" style="font-size: large;"><b>Date Of Birth : </b>
                                    <%= profile.dateOfBirth %>
                                </p>
                                <% if(profile.username==currentUser.username) { %>
                                    <form action="/friends/<%= profile._id %>/edit">
                                        <button class="btn btn-warning btn-sm"
                                            style="color: rgb(255, 255, 255); border-radius: 20%;font-weight: bold;"><span
                                                class="material-symbols-outlined">
                                                edit
                                            </span>Edit</button>
                                    </form>


                                    <% } %>
                            </div>
                        </div>
                    </div>

                    <h2>Posts
                        <% if(profile.username==currentUser.username){%>
                            <a href="/friends/<%= profile._id %>/post" class="btn-primary btn m-2"><span style=" position: relative; top: 3px;" class="material-symbols-outlined">
                                post_add
                                </span>New Post</a>
                            <% } %>
                    </h2>

                    <%for (let post of profile.posts) {%>
                        <div class="card m-2 d-inline-block" id="postwidth">

                            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">

                                <% if(post.image.length>1){ %>
                                    <div class="carousel-indicators">
                                        <% post.image.forEach((img,i)=> { %>
                                            <button type="button" data-bs-target="#carouselExampleIndicators"
                                                data-bs-slide-to="<%= i %>" class="<%= i===0 ? 'active' : '' %>"
                                                aria-current="<%= i===0 ? 'true' : '' %>"></button>
                                            <% }) %>
                                    </div>
                                    <% } %>

                                        <div class="carousel-inner">
                                            <% post.image.forEach((img,i)=> { %>
                                                <div class="carousel-item <%= i===0 ? 'active' : '' %> ">
                                                    <% let text = img.url %>
                                                    <% let array = text.split("upload") %>
                                                    <% let image = array[0]+"upload/q_50"+array[1] %>  
                                                    <% console.log(image) %>  
                                                    <img src="<%= image %>" class="d-block w-100" alt="...">
                                                </div>
                                                <% }) %>

                                        </div>

                            </div>

                            <% if(profile.username !=currentUser.username){%>
                                <a class="card-action" href="/friends/<%=profile.id %>/post/<%= post.id %>/like"
                                    style="text-decoration : none"><i class="fa fa-heart"></i>
                                    <%= post.likes.length %>
                                </a>
                                <% } %>
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <%= post.title %>
                                        </h5>
                                        <p class="card-text">
                                            <%= post.description %>
                                        </p>
                                    </div>
                                    <div style="padding: 10px;">
                                        <% if(profile.username==currentUser.username){%>
                                            <li style='font-size:1.2rem; list-style-type: none;'><b>&#9829 </b>
                                                <%= post.likes.length %>
                                                    <% }else {%>

                                                        <div>
                                                            <form
                                                                action="/friends/<%=profile.id %>/post/<%= post.id %>/addComment"
                                                                method="post">
                                                                <label class="form-label" for="review">Add
                                                                    Review:</label>
                                                                <textarea class="form-control" name="review[body]"
                                                                    id="review" cols="3" rows="2" required></textarea>
                                                                <button class="btn-sm btn-secondary mt-1"><span style="font-size:medium ; position: relative; top: 3px;" class="material-symbols-outlined">
                                                                    comment
                                                                    </span>
                                                                    Comment</button>
                                                            </form>
                                                        </div>
                                                        <% } %>


                                                            <% if(profile.username==currentUser.username){%>
                                                                <form
                                                                    action="/friends/<%= profile.id %>/post/<%= post.id %>?_method=DELETE"
                                                                    method="post">
                                                                    <button class="btn btn-danger btn-sm" ><span
                                                                            class="material-symbols-outlined" style="font-size:medium ; position: relative; top: 2px;">
                                                                            delete_forever
                                                                        </span>Delete post</button>
                                                                </form>

                                                                <% } %>
                                            </li>
                                            <div class="overflow-auto mt-4">
                                                <div class="mb-2" style="height: 180px">
                                                    <% if(post.reviews.length>0){ %>
                                                        <%for(let review of post.reviews){ %>

                                                            <p class="card-text"><b>
                                                                    <%= review.author %>
                                                                </b> : <%= review.body %>
                                                                    <% if(review.author==currentUser.username) {%>
                                                                        <a class="material-symbols-outlined"
                                                                            style="text-decoration: none;" id='delete'
                                                                            href="/friends/<%= profile.id %>/post/<%= post.id %>/deletecomment/<%=review.id%>">delete_forever</a>
                                                            </p>

                                                            <% } }} else{ %>

                                                                <p class="card-text"> no comments yet </p>
                                                                <% } %>

                                                </div>
                                            </div>
                                    </div>

                        </div>
                        <% } %>




    </div>

    <style>
        @media (min-width:200px) {

            #postwidth {
                width: 20rem;
                position: relative;
                left: 11px;
            }

        }

        @media (min-width:1000px) {

            #postwidth {
                width: 22rem;
            }

        }


        .btn-pink {
            color: antiquewhite;
            background-color: rgba(255, 0, 106, 0.747);
        }

        .btn-pink:hover {
            color: maroon;
            background-color: rgb(255, 0, 106);
        }

        #delete {
            position: relative;
            top: 5px;
            font-size: 25px;
            font-weight: bold;
            color: red;
        }


        /*  Helper Styles */


        /* Card Styles */


        .card-action {
            position: relative;
            float: right;
            margin-top: -25px;
            margin-right: 20px;
            z-index: 2;
            color: #E26D5C;
            background: #fff;
            border-radius: 100%;
            padding: 15px;
            font-size: 15px;
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
            border-color: white;
        }

        .card-action:hover {
            color: #fff;
            background: #E26D5C;
            -webkit-animation: pulse 1.5s infinite;
        }

        @-webkit-keyframes pulse {
            0% {
                -moz-transform: scale(0.9);
                -ms-transform: scale(0.9);
                -webkit-transform: scale(0.9);
                transform: scale(0.9);
            }

            70% {
                -moz-transform: scale(1);
                -ms-transform: scale(1);
                -webkit-transform: scale(1);
                transform: scale(1);
                box-shadow: 0 0 0 50px rgba(90, 153, 212, 0);
            }

            100% {
                -moz-transform: scale(0.9);
                -ms-transform: scale(0.9);
                -webkit-transform: scale(0.9);
                transform: scale(0.9);
                box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
            }
        }
    </style>